<div class="sound-effect">
  <p>Sound effect</p>
  <div class="row-sound">
    <button
      (click)="toggleSound('no-sound')"
      [class.selectedSound]="selectedSound === 'no-sound'"
      mat-raised-button
    >
      <mat-icon>volume_off</mat-icon>
      <div>No sound</div>
    </button>
    <button
      (click)="toggleSound('sea')"
      [class.selectedSound]="selectedSound === 'sea'"
      mat-raised-button
      color="primary"
    >
      <mat-icon>waves</mat-icon>
      <div>Sea</div>
    </button>
    <button
      (click)="toggleSound('forest')"
      [class.selectedSound]="selectedSound === 'forest'"
      mat-raised-button
      color="primary"
    >
      <mat-icon>tree</mat-icon>
      <div>Forest</div>
    </button>
  </div>
</div>
